<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">University</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarText">
      {% if user.is_authenticated %}
        <p class="btn text-light"><i class="fa-solid fa-user"></i> {{user.username}}</p>
        <form action="{% url 'logout_user' %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login_user' %}" class="btn">Login</a>
        <a href="{% url 'signup_user' %}" class="btn btn-outline-light">Sign up</a>
      {% endif %}
    </div>
  </div>
</nav>